<div class="homebody">
  <h1 id="homeheader">
    Welcome to the Tokidex!
  </h1>

  <p>
    Use the navbar above to navigate the application! Start by clicking on either the Tokimons button or Trainers button! :)
  </p>

</div>
